@model TesoreriaVS12.Areas.Tesoreria.Models.Ca_Impuestos_DeduccionModel
<div data-title="Agregar Impuesto/Deducción" class="TituloModal"></div>
<div data-text="Guardar" class="btnOk"></div>
<div data-text="Cancelar" class="btnCancel"></div>
<form id="frm">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    <div class="editor-label">
        @Html.LabelFor(modle => Model.Id_Tipo_ImpDed)
    </div>
    <div class="editor-field">
        @Html.DropDownList("Id_Tipo_ImpDed", Model.ListaTipos, new { @class="form-control"})
        @*<select name="Id_Tipo_ImpDed" id="Id_Tipo_ImpDed" class="form-control">
            <option value="0">Seleccione</option>
            <option value="1">Impuesto</option>
            <option value="2">Deducción</option>
        </select>*@
        @Html.ValidationMessageFor(model => model.Id_Tipo_ImpDed)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Descripcion)
    </div>
    <div class="editor-field">
        @Html.TextBoxFor(model => model.Descripcion,new {maxlength="50"})
        @Html.ValidationMessageFor(model => model.Descripcion)
    </div>
</form>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js" class="jsValidate"></script>
<script>
    $(function () {
        $("#frm").on("submit", function (e) { e.preventDefault(); });
        $("#MyModal1").off("click", ".js_btnOk");
        $("#MyModal1").on("click", ".js_btnOk", Guardar);
    });
</script>
