@model IEnumerable<TesoreriaVS12.Areas.Tesoreria.Models.Ca_Impuestos_Deduccion>

@{
    ViewBag.Title = "Ímpuestos y Deducciones";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div id="_menu_lateral">
    @{ Html.RenderAction("Botonera", "Home", new { Area = "", ids = new List<object> { "bNuevo","bImprimir", "bSalir" } }); }
</div>
<div class="container">
    <div class="row">
        <div class="col-xs-12">
            <h2>Catálogo de Impuestos y Deducciones</h2>
            @*<a id="js_agregar" class="btn btn-success pull-right" href="#"><i class="fa fa-plus">Agregar</i></a>*@
            <div class="jsSourceActions hide"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <table id="tbl" class="table table-striped table-bordered">
                <thead>
                    <tr>
                        <th data-title="Descripcion">
                            Descripción
                        </th>
                        <th data-title="Id_ImpDed2">
                            Clave Impuesto/Deducción
                        </th>
                        <th data-title="Acciones" class="text-center">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id_ImpDed2)
                            </td>
                            <td class="acciones">
                                <a class="fa fa-pencil js_editar cursorPointer" data-id="@item.Id_ImpDed2" title="Editar" data-toggle="tooltip" data-placement="top"></a>
                                <a class="fa fa-trash js_eliminar cursorPointer" data-id="@item.Id_ImpDed2" title="Eliminar" data-toggle="tooltip" data-placement="top"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>
@section scripts
{
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Areas/Tesoreria/Scripts/Catalogos/Catalogos.js"></script>
    <script src="~/Scripts/Catalogos/Usuarios.js"></script>
    <script type="text/javascript">
        var aPos = -1;
        var RutaAdd = "@Url.Action("AddImpuestosDeduccion", "Catalogos")";//"/Tesoreria/Catalogos/AddImpuestosDeduccion";
        var RutaDelete = "@Url.Action("DelImpuestoDeduccion", "Catalogos")";//"/Tesoreria/Catalogos/DelImpuestoDeduccion";
        var RutaEdit = "@Url.Action("EditImpuestoDeduccion", "Catalogos")";//"/Tesoreria/Catalogos/EditImpuestoDeduccion";
        var RutaObtener = "@Url.Action("GetImpuestoDeduccion", "Catalogos")";//"/Tesoreria/Catalogos/GetImpuestoDeduccion";
        var TableId = "tbl";
        var FrmId = "frm";
        var Propiedades = '{ "Id": "response.Registro.Id_ImpDed2" }';
        var MsjEliminar = "¿Está seguro de eliminar el registro? esta acción no se puede deshacer";
        var tabla = "";
        var SourceAction = "jsActionsource";
        var RutaExportarPDF = "@Url.Action("ImpuestosDeduccion", "ReportesPDF")";//"/Tesoreria/ReportesPDF/ImpuestosDeduccion";
        $(function () {
            $("body").on("click", "#js_mImprimir", ExportarPDFCatalogo);
            tabla = ConstruirTabla(TableId, "No hay Impuestos y/o Deducciones...");
            $("body").tooltip({ selector: "[data-toggle='tooltip']" });
            $("body").on("click", "#js_mNuevo", Nuevo);
            $("body").on("click", ".js_editar", Editar);
            $("body").on("click", ".js_eliminar", Eliminar);
            $("body").on("click", ".js_detalles", function () {
                ajaxLoad(RutaDetalles, { Id_ImpDed2: $(this).data("id") }, "MyModal1 .modal-body", "GET", openModal);
            });
            $("body").on("click", "#Save", Guardar);
            $("body").on("click", "#Edit", Editar);
            $("body").on("click", "#js_mSalir", function () {
                GoHome();
                return false;
            });
        });
    </script>
    <script type="text/template" id="jsActionsource">
        <a class="fa fa-pencil js_editar cursorPointer" data-id="<%= Id %>" title="Editar" data-toggle="tooltip" data-placement="top"> </a>
        <a class="fa fa-trash js_eliminar cursorPointer" data-id="<%= Id %>" title="Eliminar" data-toggle="tooltip" data-placement="top"> </a>
    </script>
}
