@model TesoreriaVS12.Areas.Tesoreria.Models.Ca_ActEconomicaModel

@{
    Layout = null;
}
<div data-title="Detalles Giro y Actividad" class="TituloModal"></div>
<div class="display-label">
    @Html.DisplayNameFor(model => model.Sector)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.CA_Sector.Descripcion)
</div>
<div class="display-label">
    @Html.DisplayNameFor(model => model.Id_ActEconomica)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Id_ActEconomica)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Descripcion)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Descripcion)
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(function () {
        $("#MyModal1 .js_btnOk").hide();
    });
</script>
