@model IEnumerable<TesoreriaVS12.Areas.Tesoreria.Models.Ca_ClasificaBeneficiariosModel>

@{
    Layout = null;
}
    <table id="tblmodalclasificacion" class="table">
        <thead>
        <tr>
            <th width="200px">
                @Html.DisplayNameFor(model => model.Ca_Cuentas.Id_CuentaFormato))
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Descripcion)
            </th>
            <th>Acciones</th>
        </tr>
    </thead>
        <tbody>
    @foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Ca_Cuentas.Id_CuentaFormato)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Descripcion)
            </td>
            <td class="acciones">
                <i data-id="@item.Id_ClasificaBene" data-desc="@item.Descripcion" data-cuenta="@item.Ca_Cuentas.Id_CuentaFormato" class="fa fa-check cursorPointer js_tblmodalclasificaciones" title="Seleccionar" data-toggle="tooltip" data-placement="top"></i>
            </td>
        </tr>
    }
    </tbody>
    </table>
<script>
    $(document).ready(function () {
        ConstruirTabla("tblmodalclasificacion", "No hay clasificaciones");
        $("#tblmodalclasificacion>tbody").on("click", ".js_tblmodalclasificaciones", function () {
            if ($("#tblclasificacion .dataTables_empty").length == 0) {
                var c = $("#tblclasificacion tbody>tr>td:first-child").length
                for (var i = 0; i < c; i++) {
                    if ($("#tblclasificacion tbody>tr>td:first-child")[i].textContent == $(this).data("id")) {
                        ErrorCustom("No se puede insertar una clasificacion repetida");
                        return false;
                    }
                }
            }
            var Datos = {};
            var Acciones = _.template($('#jsActionsource').html());
            Datos.Id_ClasBeneficiario = $(this).data("id");
            Datos.Descripcion = $(this).data("desc");
            Datos.Cuenta = "";
            Datos.Acciones = Acciones({ Id: $(this).data("id") });
            //console.log("antes de cargar datos de beneficiario");
            AddTbl(Datos, "tblclasificacion");
            $(".IdModal").modal("hide");
        });
    });

</script>
