@model TesoreriaVS12.Areas.Tesoreria.Models.Ca_CajasReceptorasModel

@{
    Layout = null;
}
<div data-title="Agregar" class="TituloModal"></div>
@using (Html.BeginForm("Guardar", "Catalogos", FormMethod.Post, new { id = "frm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id_CajaR)
    <div class="editor-label">
        @Html.LabelFor(model => model.Descripcion)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Descripcion, new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.Descripcion)
    </div>
}
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js" class="jsValidate"></script>
<script type="text/javascript">
    $(document).ready(function () {
        $("#frm").keypress(function (e) {
            if (e.which == 13) {
                return false;
            }
        });
    });
</script>