@model IEnumerable<TesoreriaVS12.Areas.Tesoreria.Models.Ca_ConceptosIngresosModel>

@{
    ViewBag.Title = "V_ConceptoIngresos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2>Catálogo por Rubro Ingreso</h2>
<div id="_menu_lateral">
    @{ Html.RenderAction("Botonera", "Home", new { Area = "", ids = new List<object> { "bImprimir", "bSalir" } }); }
</div>
<div class="jsSourceActions hide"></div>
<div id="container">
    <br />
    <!--<div class="row">
        <div class="col-sm-3 col-sm-offset-9 text-right">
            <i id="js_agregar" class="js_agregar btn btn-success Agregar fa fa-plus bigger-110">Agregar
            </i>
        </div>
    </div>-->
    <div class="row">
        <div class="col-sm-12">
            <table id="tbl" class="table table-responsive table-striped table-bordered">
                <thead>
                    <tr>
                        <th data-title="Rubro">@Html.DisplayNameFor(model => model.Rubro)</th>
                        <th data-title="Tipo">@Html.DisplayNameFor(model => model.Tipo) </th>
                        <th data-title="Clase">@Html.DisplayNameFor(model => model.Clase)</th>
                        <th data-title="Id_Concepto">@Html.DisplayNameFor(model => model.Id_Concepto)</th>
                        <th data-title="Descripcion">@Html.DisplayNameFor(model => model.Descripcion)</th>
                        <th data-title="UltimoNivel">@Html.DisplayNameFor(model => model.UltimoNivel)</th>
                        <th data-title="Acciones">Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Rubro)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Tipo)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Clase)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id_Concepto)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @{
                        if (item.UltimoNivel == true)
                        { 
                                    @Html.Encode("SI");
                        }
                        else
                        {
                                    @Html.Encode("NO");
                        }
                                }
                            </td>
                            <td class="acciones">
                                <!--<a class="js_editar fa fa-pencil-square-o cursorPointer" data-id="@item.Id_Concepto" title="Editar" data-toggle="tooltip" data-placement="top"></a>
                                <a class="js_eliminar fa fa-trash-o cursorPointer" data-id="@item.Id_Concepto" title="Eliminar" data-toggle="tooltip" data-placement="top"></a>-->
                                <a class="js_detalles fa fa-bars cursorPointer" data-id="@item.Id_Concepto" title="Detalles" data-toggle="tooltip" data-placement="top"></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/underscore.js"></script>
    <script src="~/Areas/Tesoreria/Scripts/Catalogos/Catalogos.js"></script>
    <script>
        var aPos = -1;
        var RutaAdd = "@Url.Action("V_ConceptoIngresosAgregar", "Catalogos")";//"/Tesoreria/Catalogos/V_ConceptoIngresosAgregar";
        var RutaObtener = "@Url.Action("V_ConceptoIngresosEditar", "Catalogos")";//"/Tesoreria/Catalogos/V_ConceptoIngresosEditar";
        var RutaDelete = "@Url.Action("V_ConceptoIngresosEliminar", "Catalogos")";//"/Tesoreria/Catalogos/V_ConceptoIngresosEliminar";
        var RutaEdit = "@Url.Action("V_ConceptoIngresosEditar", "Catalogos")";//"/Tesoreria/Catalogos/V_ConceptoIngresosEditar";
        var RutaSave = "@Url.Action("V_ConceptoIngresosAgregar", "Catalogos")";//"/Tesoreria/Catalogos/V_ConceptoIngresosAgregar";
        var RutaDetalles = "@Url.Action("V_ConceptoIngresosDetalles", "Catalogos")";//"/Tesoreria/Catalogos/V_ConceptoIngresosDetalles";
        var RutaExportarPDF = "@Url.Action("ConceptoIngresos", "ReportesPDF")";//"/Tesoreria/ReportesPDF/ConceptoIngresos";
        var TableId = "tbl";
        var FrmId = "frm";
        var Propiedades = '{ "Id": "response.Registro.Id_Concepto" }';
        var MsjEliminar = "¿Esta seguro de eliminar el registro? esta acción no se puede deshacer";
        var tabla = "";
        var SourceAction = "jsActionsource";
        var aPos = -1;
        $(document).ready(function () {
            $("body").on("click", "#js_mImprimir", ExportarPDFCatalogo);
            tabla = ConstruirTabla(TableId, "No hay registros...");
            $("body").tooltip({ selector: "[data-toggle='tooltip']" });
            $("body").on("click", "#js_agregar", Nuevo);
            $("body").on("click", ".js_editar", Obtener);
            $("body").on("click", ".js_eliminar", Eliminar);
            $("body").on("click", ".js_detalles", Detalles);
            $("body").on("click", "#js_btnOk1", GuardarEditar);
            $("body").on("click", "#Edit", Editar);
            $("body").on("click", "#js_mSalir", function () {
                GoHome();
                return false;
            });
        });
        function GuardarEditar()
        {
            if ($("#Id_Concepto").val() == "")
                Guardar();
            else
                Editar();
        }
    </script>

    <script type="text/template" id="jsActionsource">
         <a class="js_detalles fa fa-bars cursorPointer" data-id="<%=Id%>" title="Detalles" data-toggle="tooltip" data-placement="top"></a>
    </script>
    <!--<a class="js_editar fa fa-pencil-square-o cursorPointer" data-id="<%=Id%>" title="Editar" data-toggle="tooltip" data-placement="top"></a>
        <a class="js_eliminar fa fa-trash-o cursorPointer" data-id="<%=Id%>" title="Eliminar" data-toggle="tooltip" data-placement="top"></a> -->
}
