@model TesoreriaVS12.Areas.Tesoreria.Models.Ca_ConceptosIngresosModel

@{
    Layout = null;
}
<div data-title="Editar" class="TituloModal"></div>
@using (Html.BeginForm("Guardar", "Catalogos", FormMethod.Post, new { id = "frm" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    @Html.HiddenFor(model => model.Id_Concepto)
    @Html.HiddenFor(model => model.Rubro)
    @Html.HiddenFor(model => model.Tipo)
    @Html.HiddenFor(model => model.Clase)
    @Html.HiddenFor(model => model.Concepto)
    @Html.HiddenFor(model => model.SubCuenta)
    <div class="editor-label">
        @Html.LabelFor(model => model.Id_Concepto)
    </div>
    <div class="editor-field">
        @Html.Encode(Model.Id_Concepto)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.Descripcion)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.Descripcion)
        @Html.ValidationMessageFor(model => model.Descripcion)
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.UltimoNivel)
    </div>
    <div class="editor-field">
        @Html.EditorFor(model => model.UltimoNivel)
        @Html.ValidationMessageFor(model => model.UltimoNivel)
    </div>
}


<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js" class="jsValidate"></script>
