@model TesoreriaVS12.Areas.Tesoreria.Models.CA_InHabilModel

@{
    Layout = null;
}
<div class="row">
    <div class="col-sm-3">@Html.DisplayNameFor(model => model.Dia)</div>
    <div class="col-sm-3"> @Html.DisplayFor(model => model.Dia)</div>
</div>
<div class="row">
    <div class="col-sm-3">@Html.DisplayNameFor(model => model.Mes)</div>
    <div class="col-sm-3"> @Html.DisplayFor(model => model.MesLetra)</div>
</div>
<div class="row">
    <div class="col-sm-3">@Html.DisplayNameFor(model => model.Descrip)</div>
    <div class="col-sm-9"> @Html.DisplayFor(model => model.Descrip)</div>
</div>
