@model TesoreriaVS12.Areas.Tesoreria.Models.Ca_ProgramasModel

@{
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Cerrar</span></button>
    <h4 class="modal-title">Editar Programas</h4>
</div>
<div class="modal-body">
    @using (Html.BeginForm("AgregarPrograma", "Catalogos", FormMethod.Post, new { id = "frm" }))
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true)
        <div class="editor-field">
            @Html.HiddenFor(model => model.Id_Programa)
            @Html.ValidationMessageFor(model => model.Id_Programa)
        </div>
    
        <div class="editor-label">
            @Html.LabelFor(model => model.Descripcion)
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Descripcion)
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>
    }
</div>
<div class="modal-footer">
    <button id="Edit" type="button" class="btn btn-success">Guardar</button>
    <button type="button" class="btn btn-danger" data-dismiss="modal">Cancelar</button>
</div>

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js" class="jsValidate"></script>
