@model TesoreriaVS12.Areas.Tesoreria.Models.Ca_SectoresModel

@{
    ViewBag.Title = "Agregar Sector";
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Agregar Sector</h4>
</div>
<div class="modal-body">
    <form id="frm">
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Sector</legend>


            @Html.HiddenFor(model => model.Id_Sector)

            <div class="editor-label">
                @Html.LabelFor(model => model.Descripcion)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Descripcion)
                @Html.ValidationMessageFor(model => model.Descripcion)
            </div>


        </fieldset>
    </form>

</div>
<div class="modal-footer">
    <button id="CerrarM1" type="button" class="btn btn-default">Cerrar</button>
    <button id="GuardarM1" type="button" class="btn btn-default">Guardar</button>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $("#CerrarM1").on("click", function () {
        CerrarModal();
    });
    $(function () {
        /*url, data, metodo, asincrono, div, seleccion, callback*/
        $(".modal-footer").on("click", "#GuardarM1", Guardar);
    });
</script>