@model TesoreriaVS12.Areas.Tesoreria.Models.Ca_TipoDoctosModel

@{
    ViewBag.Title = "Editar tipo de documento";
    Layout = null;
}

<div class="modal-header">
    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
    <h4 class="modal-title">Editar tipo de documento</h4>
</div>
<div class="modal-body">
    <form id="frm">
        @Html.ValidationSummary(true)

        <fieldset>
            <legend>Tipo de contrarecibo</legend>


            @Html.Hidden("Id_Tipodocto", Model.Id_Tipodocto)
            <p><label>Tipo de documento:</label> @Html.Encode(Model.Id_Tipodocto)</p>

            <div class="editor-label">
                @Html.LabelFor(model => model.Descripcion)
            </div>
            <div class="editor-field">
                @Html.EditorFor(model => model.Descripcion)
                @Html.ValidationMessageFor(model => model.Descripcion)
            </div>
        </fieldset>
    </form>

</div>
<div class="modal-footer">
    <button id="CerrarM1" type="button" class="btn btn-default">Cerrar</button>
    <button id="GuardarM1" type="button" class="btn btn-default">Guardar</button>
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js" class="jsValidate"></script>
<script>
    $(document).ready(function () {
        $("#CerrarM1").on("click", function () {
            CerrarModal();
        });

        $("#GuardarM1").on("click", function () {
            //(url, data, metodo, asincrono, callback)
            ajaxJson("@Url.Action("V_TipoDocto_Editar","Catalogos")", $("#frm").serialize(), "post", false, callbackGuardar)
        });
    });

    function callbackGuardar(response) {
        if (response.Exito == false)
            ErrorCustom(response.Mensaje, "");
        else {
            ExitoCustom("", CerrarModal);
            var Acciones = _.template($('#jsActionsource').html());
            response.Datos.Acciones = Acciones({ Id: response.Datos.Id_Tipodocto });
            UpdateTbl(response.Datos, "tbl", aPos);
        }
    }
</script>
