@model TesoreriaVS12.Areas.Tesoreria.Models.Ca_TipoTransferenciasEgModel

@{
    Layout = null;
}
<div data-title="Detalles Localidad" class="TituloModal"></div>
<div class="display-label">
    @Html.DisplayNameFor(model => model.Id_Tipotransf)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Id_Tipotransf)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Descripcion)
</div>
<div class="display-field">
    @Html.DisplayFor(model => model.Descripcion)
</div>

<div class="display-label">
    @Html.DisplayNameFor(model => model.Automatica)
</div>
<div class="display-field">
    @{
        if (Model.Automatica == true)
        { 
        @Html.Encode("SI");
        }
        else
        {
        @Html.Encode("NO");
        }
    }
</div>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script>
    $(function () {
        $("#MyModal1 .js_btnOk").hide();
    });
</script>
