@model IEnumerable<TesoreriaVS12.Areas.Tesoreria.Models.Ca_TipoContrarecibosModel>

@{
    ViewBag.Title = "Tipos de Contrarecibo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Catálogo de Tipos de Cuenta por Liquidar</h2>
<div id="_menu_lateral">
    @{ Html.RenderAction("Botonera", "Home", new { Area = "", ids = new List<object> { "bImprimir", "bSalir" } }); }
</div>
<div class="jsSourceActions hide">

</div>
<div id="container">
    <br />
    <!--<div class="row">
        <div class="col-sm-3 col-sm-offset-9 text-right">
            <div class="js_agregar btn btn-success">
                <i class="fa fa-plus bigger-110" title="Crear"></i>
                <span>Agregar</span>
            </div>
        </div>
    </div>-->
    <div class="row">
        <div class="col-md-12">
            <!--<a id="js_agregar" class="btn btn-success" href="#"><i class="fa fa-plus">Agregar</i></a>-->
            <div class="jsSourceActions hide"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-12">
            <table id="tbl" class="table table-responsive table-striped table-bordered">
                <thead>
                    <tr>
                        <th data-title="Id_TipoCR">
                            Tipo de Cuenta por Liquidar
                        </th>
                        <th data-title="Descripcion">
                            Descripción
                        </th>
                        <th data-title="UltimoCR">
                            Último Cuenta por Liquidar
                        </th>
                        @*<th data-title="Facturas_Diversas">
                            @Html.DisplayNameFor(model => model.Facturas_Diversas)
                        </th>*@
                        <th data-title="Acciones" class="text-center">Acciones</th>
                    </tr>
                </thead>

                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id_TipoCR)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Descripcion)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.UltimoCR)
                            </td>
                            @*<td>
                                @Html.Encode((item.Facturas_Diversas.HasValue) ? (item.Facturas_Diversas.Value) ? "SI" : "NO" : "")
                            </td>*@
                            <td class="acciones">
                                <a class="js_detalles fa fa-file-text-o cursorPointer" data-id="@item.Id_TipoCR" title="Detalles" data-toggle="tooltip" data-placement="top"></a>
                                <!--<a class="js_editar fa fa-pencil-square-o cursorPointer" data-id="@item.Id_TipoCR" title="Editar" data-toggle="tooltip" data-placement="top"></a>
                                <a class="js_eliminar fa fa-trash-o cursorPointer" data-id="@item.Id_TipoCR" title="Eliminar" data-toggle="tooltip" data-placement="top"></a>-->
                            </td>
                        </tr>
                    }
                </tbody>

            </table>
        </div>
    </div>
</div>

@section scripts
{
    <script src="~/Scripts/underscore.js"></script>
<script src="~/Areas/Tesoreria/Scripts/Catalogos/Catalogos.js"></script>
    <script>
        var tbl = "";
        var aPos = -1;
        var RutaExportarPDF = "@Url.Action("TiposContrarecibo", "ReportesPDF")";//"/Tesoreria/ReportesPDF/TiposContrarecibo";
        $(document).ready(function () {
            $("body").on("click", "#js_mImprimir", ExportarPDFCatalogo);
            $("body").tooltip({ selector: "[data-toggle='tooltip']" });
            tbl = ConstruirTabla("tbl", "No hay registros para mostrar");
            
            $("body").on("click", ".js_detalles", function () {
                customModal("@Url.Action("V_TipoContrarecibo_Detalles","Catalogos")", { Id_TipoContrarecibo: $(this).data("id") }, "GET", "md", "", "", "", "Cerrar", "Detalles Tipo Cuenta por Liquidar", "ModalEditar");
            });

            $("body").on("click", ".js_agregar", function () {
                VentanaModal(1, "/Tesoreria/Catalogos/V_TipoContrarecibo_Agregar", {  }, "get", "");
            });

            $("body").on("click", ".js_eliminar", function () {
                aPos = tbl.fnGetPosition($(this).parent().get(0));
                aPos[1] = $(this).data("id");
                ConfirmCustom("¿Esta seguro de eliminar el Tipo de Cuenta por Liquidar: " + aPos[1] + "?, esta acción no se puede revertir.", Eliminar, "", "Aceptar", "Cancelar");
            });

            $("body").on("click", ".js_editar", function () {
                aPos = tbl.fnGetPosition($(this).parent().parent().get(0));
                VentanaModal(1, "/Tesoreria/Catalogos/V_TipoContrarecibo_Editar", { Id_TipoContrarecibo: $(this).data("id") }, "get", "");
            });
            $("body").on("click", "#js_mSalir", function () {
                GoHome();
                return false;
            });
        });

        var Eliminar = function () {
            /*url, data, metodo, asincrono, callback*/
            ajaxJson("@Url.Action("V_TipoContrarecibo_Eliminar","Catalogos")", { Id_TipoContrarecibo: aPos[1] }, "post", true, function (response) {
                if (response.Exito == true)
                    ExitoCustom("El tipo de contrarrecibo ha sido eliminado con éxito", function () {
                        tbl.fnDeleteRow(aPos[0]);
                        aPos = -1;
                    });
                else
                    ErrorCustom("El tipo de contrarrecibo no se ha eliminado con éxito");
            });
        }
    </script>

    <script type="text/template" id="jsActionsource">
        <a class="js_detalles fa fa-file-text-o cursorPointer" data-id="<%= Id %>" title="Detalles" data-toggle="tooltip" data-placement="top"></a>
        
    </script>
    <!--<a class="js_editar fa fa-pencil-square-o cursorPointer" data-id="<%= Id %>" title="Editar" data-toggle="tooltip" data-placement="top"></a>
        <a class="js_eliminar fa fa-trash-o cursorPointer" data-id="<%= Id %>" title="Eliminar" data-toggle="tooltip" data-placement="top"></a> -->
}
