@model TesoreriaVS12.Areas.Tesoreria.Models.Ca_TipoBeneficiariosModel

@{
    ViewBag.Title = "Agregar tipo de beneficiario";
    Layout = null;
}
<div data-title="Agregar Tipo de Beneficiario" class="TituloModal"></div>
<div data-text="Guardar" class="btnOk"></div>
<div data-text="Cancelar" class="btnCancel"></div>
<form id="frm">
    @Html.ValidationSummary(true)


        @Html.HiddenFor(model => model.Id_TipoBene)

        <div class="editor-label">
            @Html.LabelFor(model => model.Descripcion)
        </div>
        <div class="editor-field">
            @Html.TextBoxFor(model => model.Descripcion, new { maxlength = 20 })
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>
</form>
<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js" class="jsValidate"></script>
<script>
    
    $(function () {
        $("#frm").on("submit", function (e) { e.preventDefault(); });
        $("#MyModal1").off("click", ".js_btnOk");
        $("#MyModal1").on("click", ".js_btnOk", Guardar2);
    });
</script>