@model TesoreriaVS12.Areas.Tesoreria.Models.BusquedaAnaliticoIngresos

@{
    ViewBag.Title = "AnalisisIngresos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/datepicker3.css" rel="stylesheet" />
<style>
    .custom-date {
        background-color: #ffffff !important;
        cursor: text !important;
    }

    .row {
        margin-top: 5px !important;
    }
</style>
<h2>Análisis de Recibos de Ingresos</h2>
<div id="_menu_lateral">
    @{ Html.RenderAction("Botonera", "Home", new { Area = "", ids = new List<object> { "bBuscar", "bLimpiar", "bSalir" } }); }
</div>
@using (Html.BeginForm("BuscarIngresos", "Ingresos", FormMethod.Post, new { id = "frmIngresos" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <br />
    <div class="container">
        <div class="row">
            <div class="col-xs-6">
                <div class="col-xs-12">
                    <label>Contribuyente</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-11">
                <div class="col-xs-2">
                    <div class="input-group ">
                        @Html.TextBoxFor(model => model.IdContribuyente, new { @class = "form-control" })
                        <span class="input-group-addon js_contribuyente">
                            <span class="fa fa-search"></span>
                        </span>
                    </div>
                </div>
                <div class="col-xs-9">
                    <input type="text" name="NombreContribuyente" id="NombreContribuyente" class="form-control" disabled="disabled" />
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="col-xs-12">
                    <label>Especificar Rango de Importes</label>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="col-xs-9">
                    <div class="col-xs-3">
                        <label>Desde</label>
                    </div>
                    <div class='col-xs-8'>
                        @Html.TextBoxFor(model => model.ImporteDesde, new { @class = "form-control", maxlength = 10 })
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6">
                <div class="col-xs-9">
                    <div class="col-xs-3">
                        <label>Hasta</label>
                    </div>
                    <div class='col-xs-8'>
                        @Html.TextBoxFor(model => model.ImporteHasta, new { @class = "form-control", maxlength = 10 })
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-xs-6 js_divFechaOrden" style="margin-top: -17px">
                <div class="col-xs-12">
                    <label>Fecha de Recibo de Ingresos</label>
                </div>
                <div class="col-xs-8">
                    <div class="col-xs-4">
                        <label>Desde</label>
                    </div>
                    <div class='col-xs-8 input-group '>
                        @Html.TextBoxFor(model => model.FechaDesdeRecibo, new { @class = "form-control custom-date", maxlength = 10 })
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 js_divFechaDevengado" style="margin-top: -17px">
                <div class="col-xs-12">
                    <label>Fecha de Devengado</label>
                </div>
                <div class="col-xs-8">
                    <div class="col-xs-4">
                        <label>Desde</label>
                    </div>
                    <div class='col-xs-8 input-group'>
                        @Html.TextBoxFor(model => model.FechaDesdeRecaudacion, new { @class = "form-control custom-date", maxlength = 10 })
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6 js_divFechaDevengado">
                <div class="col-xs-8">
                    <div class="col-xs-4">
                        <label>Hasta</label>
                    </div>
                    <div class='col-xs-8 input-group'>
                        @Html.TextBoxFor(model => model.FechaHastaRecibo, new { @class = "form-control custom-date", maxlength = 10, @readonly = "readonly" })
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-xs-6 js_divFechaOrden">
                <div class="col-xs-8">
                    <div class="col-xs-4">
                        <label>Hasta</label>
                    </div>
                    <div class='col-xs-8 input-group'>
                        @Html.TextBoxFor(model => model.FechaHastaRecaudacion, new { @class = "form-control custom-date", maxlength = 10 })
                        <span class="input-group-addon">
                            <span class="fa fa-calendar"></span>
                        </span>
                    </div>
                </div>
            </div>
        </div>
        <br />
        <div class="row">
            <div class="col-sm-4">
                <label>Banco</label>
                <select id="Banco" class="form-control has-error"></select>
            </div>
            <div class="col-sm-4">
                <label>Cuenta Bancaria</label>
                <select id="CuentaBancaria" class="form-control input-validation-error" name="CuentaBancaria" data-val-required="*" data-val-number="El campo Caja Receptora debe ser un número." data-val="true"></select>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                <label>Estatus</label>
            </div>
            <div class="col-xs-4">
                <label>Establecer Orden del Reporte</label>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-4">
                @Html.DropDownListFor(model => model.Estatus, Model.ListaEstatus, "--Seleccione una opción--", new { @class = "form-control" })
            </div>
            <div class="col-xs-4">
                <select name="Orden" id="Orden" class="form-control">
                    <option value="1">Folio</option>
                    <option value="2">Contribuyente</option>
                    <option value="3">Fecha de Recaudación</option>
                </select>
            </div>
        </div>
        <div class="row">
            <div id="div_resultados"></div>
        </div>
    </div>
}
@section Scripts {
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js" class="jsValidate"></script>

    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/autoNumeric.js"></script>
    <script src="~/Scripts/bootstrap3-typeahead.min.js"></script>
    <script type="text/javascript">
        var huboResultados = false;
        var changeContribuyente = function () {
            if ($(this).val().split('-').length != 1) {
                $(this).val($(this).val().split('-')[1]);
                if ($(this).val().length > 0 && $.inArray($(this).val(), $(this).data("dataSource")) == -1) {
                    ajaxJson("getContribuyenteData", { IdPersona: $(this).val() }, "POST", true, function (response) {
                        $('#NombreContribuyente').val(response.NombreCompleto);
                    });
                }
            } else if (!huboResultados) {
                $(this).val("");
                $("#NombreContribuyente").val("");
            }
        }
        var callBackBuscarBeneficiario = function () {
            ajaxLoad("@Url.Action("Tbl_Personas","Busquedas")", { BDescripcionPersona: $("#BDescripcionBeneficiario").val() }, "resultsBeneficiarios", "POST", function () { })
        }
        var BuscarContribuyente = function () {
            if (!$(this).isSiblingDisabled())
                customModal("@Url.Action("Buscar_Beneficiario","Busquedas")", {}, "get", "lg", callBackBuscarBeneficiario, "", "Buscar", "Cancelar", "Buscar Contribuyente", "IdModal");
        }
        var llenarCuentasBanco = function () {
            ajaxSelect("@Url.Action("List_CtaBancaria","Listas")", { Id_Banco: $(this).val() }, "POST", true, "CuentaBancaria", "", callBackLlenarSelect);
        }

        var selectContribuyente = function () {
            $('#IdContribuyente').val($(this).data('idbeneficiario'));
            $(".IdModal").modal('hide');
            ajaxJson("getContribuyenteData", { IdPersona: $(this).data('idbeneficiario') }, "POST", true, function (response) {
                $('#NombreContribuyente').val(response.NombreCompleto);
            });
        }
        $(document).ready(function () {
            $("#IdContribuyente").val("");
            $("#ImporteDesde").autoNumeric();
            $("#ImporteHasta").autoNumeric();
            $("#FechaDesdeRecibo").val("");
            $("#FechaHastaRecibo").val("");
            $("#FechaDesdeRecaudacion").val("");
            $("#FechaHastaRecaudacion").val("");
            $(".custom-date").datepicker({
                format: 'dd/mm/yyyy',
                autoclose: true,
                todayHighlight: true
            });
            $("#FechaDesdeRecibo").on("input", function () {
                if ($(this).val().trim().length == 0)
                    $("#FechaHastaRecibo").val("");
            });
            $("#FechaDesdeRecaudacion").on("input", function () {
                if ($(this).val().trim().length == 0)
                    $("#FechaHastaRecaudacion").val("");
            });
            $("#FechaDesdeRecibo").datepicker().on("changeDate", function (e) {
                var fecha = new Date(e.date);
                $("#FechaHastaRecibo").datepicker("update", new Date(fecha));
                $("#FechaHastaRecibo").datepicker("setStartDate", new Date(fecha));
                $("#FechaHastaRecibo").attr("disabled", false);
            });
            $("#FechaDesdeRecaudacion").datepicker().on("changeDate", function (e) {
                var fecha = new Date(e.date);
                $("#FechaHastaRecaudacion").datepicker("update", new Date(fecha));
                $("#FechaHastaRecaudacion").datepicker("setStartDate", new Date(fecha));
                $("#FechaHastaRecaudacion").attr("disabled", false);
            });
            $("body").on("click", "#js_mBuscar", function () {
                $("#ImporteDesde").val($("#ImporteDesde").autoNumeric("get"));
                $("#ImporteHasta").val($("#ImporteHasta").autoNumeric("get"));
                $("#div_resultados").ajaxLoad({
                    url: $("#frmIngresos").attr("action"),
                    data: $("#frmIngresos").serialize(),
                    method: "POST",
                    callback: function () {
                        createBotonera(["bBuscar", "bLimpiar", "bImprimir", "bSalir"]);
                        ConstruirTabla("tblIngresos");
                    }
                });
                $("#ImporteDesde").focus();
                $("#ImporteHasta").focus();
            });
            $("body").on("click", "#js_mLimpiar", function () {
                cleanInputs();
            });
            $("body").on("click", "#js_mImprimir", function () {
                window.open("@Url.Action("ReporteIngresos","Ingresos")"+"?" + $("#frmIngresos").serialize(), "_blank");
            });
            $("body").on("click", "#js_mSalir", function () {
                GoHome();
            });

            $("#Id_Banco").on("change", function () {
                ajaxSelect("@Url.Action("List_CtaBancaria","Listas")", { Id_Banco: $("#Id_Banco").val() }, "POST", true, "CuentaBancaria", "", callBackLlenarSelect);
            });
            //$("#IdContribuyente").on("focusout", function () {
            //    if ($(this).val().length > 0) {
            //        $("#IdContribuyente").focusOut({
            //            url: "/Tesoreria/FocusOut/Beneficiario",
            //            data: { IdBeneficiario: $(this).val() },
            //            campos: [{ Base: "NombreCompleto", Campo: "NombreBeneficiario" }]
            //        });
            //    }
            //});
            /**************Buscar beneficiario PROVEEDOR*****************/
            $('#IdContribuyente').typeahead({
                source: function (query, process) {
                    $.ajax({
                        url: "@Url.Action("searchContribuyentes","Ingresos")",
                        type: "POST",
                        data: { name: $("#IdContribuyente").val() },
                        dataType: "JSON",
                        async: true,
                        success: function (results) {
                            if (results.Ids.length == 0)
                                huboResultados = false;
                            else
                                huboResultados = true;
                            console.log(huboResultados);
                            $('#IdContribuyente').data("datasource", results.Ids);
                            return process(results.Data);
                        }
                    });
                }
            });
            $('#IdContribuyente').on('change', changeContribuyente);
            $('#IdContribuyente').on('input', function () {
                if ($(this).val().trim().length == 0) {
                    $(this).val("");
                    $("#NombreContribuyente").val("");
                }
            });
            $('.js_contribuyente').on("click", BuscarContribuyente);
            $('body').on('click', '.js_SeleccionarBeneficiario', selectContribuyente);
            /************************************************************/
            var cleanInputs = function () {
                $(".container input[type=text], textarea").val("");
                $(".container select").val("");
            }
            ajaxSelect("@Url.Action("List_Bancos","Listas")", {}, "POST", true, "Banco", "", callBackLlenarSelect);
            $("#Banco").on("change", llenarCuentasBanco);
        });
    </script>

}
