@model IEnumerable<TesoreriaVS12.Areas.Tesoreria.Models.VW_DetalleReciboIngModel>
<table id="tblIngresos" class="table table-responsive table-striped table-bordered">
    <thead>
        <tr>
            <th>No. de Recibo</th>
            <th>Fecha</th>
            <th>CUR</th>
            <th>Estatus</th>
            <th>Importe</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Folio)</td>
                <td>@item.Fecha.ToShortDateString()</td>
                <td>@Html.DisplayFor(modelItem => item.CUR)</td>
                <td>@Html.DisplayFor(modelItem => item.DescripcionEstatus)</td>
                <td class="text-right"><b>@String.Format("{0:N}", item.Importe)</b></td>
            </tr>
        }
    </tbody>
</table>
