@model IEnumerable<TesoreriaVS12.Areas.Tesoreria.Models.Ca_AlcanceGeoModel>

@{
    ViewBag.Title = "Catálogo de Dimensiones Geográficas";
    Layout = null;
    var imagePath = Server.MapPath("~/Images");
    var cssPath = Server.MapPath("~/Content");
}
<link href="@cssPath/bootstrap.min.css" rel="stylesheet" />
<link href="@cssPath/jquery.dataTables.min.css" rel="stylesheet" />
<link href="@cssPath/font-awesome.min.css" rel="stylesheet" />
<link href="@cssPath/layout.css" rel="stylesheet" />
@Html.Partial("PdfHeader")
<table id="tbl" class="table table-responsive table-striped table-bordered">
    <thead>
        <tr>
            <th data-title="Id_AlcanceGeo" style="width:100px">@Html.DisplayNameFor(model => model.Id_AlcanceGeo)</th>
            <th data-title="Descripcion">@Html.DisplayNameFor(model => model.Descripcion)</th>
        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_AlcanceGeo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
            </tr>
        }
    </tbody>

</table>