@model IEnumerable<TesoreriaVS12.Areas.Tesoreria.Models.Ca_PersonasModel>

@{
    ViewBag.Title = "Catálogo de Contribuyentes";
    Layout = null;
    var imagePath = Server.MapPath("~/Images");
    var cssPath = Server.MapPath("~/Content");
}
@Html.Partial("PdfHeader")
<link href="@cssPath/bootstrap.min.css" rel="stylesheet" />
<link href="@cssPath/jquery.dataTables.min.css" rel="stylesheet" />
<link href="@cssPath/font-awesome.min.css" rel="stylesheet" />
<link href="@cssPath/layout.css" rel="stylesheet" />
<table id="tbl" class="table table-responsive table-striped table-bordered">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.IdPersona)</th>
            <th>@Html.DisplayNameFor(model => model.NombreCompleto) </th>
            <th>@Html.DisplayName("Tipo") </th>
            <th>@Html.DisplayNameFor(model => model.CURP) </th>
            <th>@Html.DisplayNameFor(model => model.RFC) </th>
            
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(x=> x.NombreCompleto))
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.IdPersona)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NombreCompleto)
                </td>
                <td>
                    @if (item.PersonaFisica.HasValue && item.PersonaFisica.Value)
                    {
                        @Html.Encode("PERSONA FISICA") 
                    }else
                    {
                        @Html.Encode("PERSONA MORAL") 
                    }
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.CURP)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.RFC)
                </td>
            </tr>
        }
    </tbody>
</table>
