@model IEnumerable<TesoreriaVS12.Areas.Tesoreria.Models.Ca_CuentasBancariasModel>
@{
    ViewBag.Title = "Catálogo de Cuentas Bancarias";
    Layout = null;
    var imagePath = Server.MapPath("~/Images");
    var cssPath = Server.MapPath("~/Content");
}
@Html.Partial("PdfHeader")
<link href="@cssPath/bootstrap.min.css" rel="stylesheet" />
<link href="@cssPath/jquery.dataTables.min.css" rel="stylesheet" />
<link href="@cssPath/font-awesome.min.css" rel="stylesheet" />
<link href="@cssPath/layout.css" rel="stylesheet" />
<table id="tbl" class="table table-responsive table-striped table-bordered">
    <thead>
        <tr>
            <th data-title="Ca_Bancos.Descripcion">Id</th>
            <th data-title="Ca_Bancos.Descripcion">Banco</th>
            <th data-title="Sucursal">@Html.DisplayNameFor(model => model.Sucursal)</th>
            <th data-title="NoCuenta">No. de Cuenta Bancaria</th>
            <th data-title="Descripcion">Descripción Cuenta Bancaria</th>
            <th data-title="Id_Cuenta">Cuenta Contable</th>
            <th data-title="Ca_Fuentes.Id_Fuente">No. Fuente</th>
            <th data-title="Ca_Fuentes.Descripcion">Fuente Fin.</th>
        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_CtaBancaria)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ca_Bancos.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Sucursal)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NoCuenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_Cuenta)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ca_Fuentes.Id_Fuente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ca_Fuentes.Descripcion)
                </td>
            </tr>
        }
    </tbody>
</table>