@model IEnumerable<TesoreriaVS12.Areas.Tesoreria.Models.CA_CURModel>
@{
    ViewBag.Title = "Catálogo Único de Recaudación";
    Layout = null;
    var imagePath = Server.MapPath("~/Images");
    var cssPath = Server.MapPath("~/Content");
}
@Html.Partial("PdfHeader")
<link href="@cssPath/bootstrap.min.css" rel="stylesheet" />
<link href="@cssPath/jquery.dataTables.min.css" rel="stylesheet" />
<link href="@cssPath/font-awesome.min.css" rel="stylesheet" />
<link href="@cssPath/layout.css" rel="stylesheet" />
<table id="tbl" class="table table-responsive table-striped table-bordered">
    <thead>
        <tr>
            <th data-title="Id_Concepto">@Html.DisplayNameFor(model => model.Id_Concepto)</th>
            <th data-title="nivel4">@Html.DisplayNameFor(model => model.nivel4) </th>
            <th data-title="nivel5">@Html.DisplayNameFor(model => model.nivel5)</th>
            <th data-title="nivel6">@Html.DisplayNameFor(model => model.nivel6)</th>
            <th data-title="nivel7">@Html.DisplayNameFor(model => model.nivel7)</th>
            <th data-title="nivel8">@Html.DisplayNameFor(model => model.nivel8)</th>
            <th data-title="nivel9">@Html.DisplayNameFor(model => model.nivel9)</th>
            <th data-title="nivel10">@Html.DisplayNameFor(model => model.nivel10)</th>
            <th data-title="nivel11">@Html.DisplayNameFor(model => model.nivel11)</th>
            <th data-title="nivel12">@Html.DisplayNameFor(model => model.Nivel12)</th>
            <th data-title="Id_CRecaudador">@Html.DisplayNameFor(model => model.IdCUR)</th>
            <th data-title="Descripcion">@Html.DisplayNameFor(model => model.Descripcion)</th>
            <th data-title="UltimoNivel">@Html.DisplayNameFor(model => model.UltimoNivel)</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_Concepto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nivel4)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nivel5)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nivel6)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nivel7)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nivel8)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nivel9)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nivel10)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.nivel11)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Nivel12)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdCUR)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @{
            if (item.UltimoNivel == true)
            {
                @Html.Encode("SI");
            }
            else
            {
                @Html.Encode("NO");
            }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>