@model IEnumerable<TesoreriaVS12.Areas.Tesoreria.Models.Ca_FuentesFin_IngModel>
@{
    ViewBag.Title = "Catálogo de Fuentes de Financiamientos de Ingresos";
    Layout = null;
    var imagePath = Server.MapPath("~/Images");
    var cssPath = Server.MapPath("~/Content");
}
@Html.Partial("PdfHeader")
<link href="@cssPath/bootstrap.min.css" rel="stylesheet" />
<link href="@cssPath/jquery.dataTables.min.css" rel="stylesheet" />
<link href="@cssPath/font-awesome.min.css" rel="stylesheet" />
<link href="@cssPath/layout.css" rel="stylesheet" />
<table id="tbl" class="table table-responsive table-striped table-bordered">
    <thead>
        <tr>
            <th data-title="Id_Fuente">@Html.DisplayNameFor(model => model.Id_Fuente)</th>
            <th data-title="Id_Aportacion">@Html.DisplayNameFor(model => model.Id_Aportacion) </th>
            <th data-title="Id_Convenio">@Html.DisplayNameFor(model => model.Id_Convenio)</th>
            <th data-title="Id_FuenteFinancia">@Html.DisplayNameFor(model => model.Id_FuenteFinancia)</th>
            <th data-title="Descripcion">@Html.DisplayNameFor(model => model.Descripcion)</th>
            <th data-title="UltimoNivel">Último Nivel</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_Fuente)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_Aportacion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_Convenio)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_FuenteFinancia)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
                <td>
                    @{
            if (item.UltimoNivel == true)
            {
                @Html.Encode("SI");
            }
            else
            {
                @Html.Encode("NO");
            }
                    }
                </td>
            </tr>
        }
    </tbody>
</table>