@model IEnumerable<TesoreriaVS12.Areas.Tesoreria.Models.Ca_ObjetoGastoModel>

@{
    ViewBag.Title = "Catálogo de Objetos de Gasto";
    Layout = null;
    var imagePath = Server.MapPath("~/Images");
    var cssPath = Server.MapPath("~/Content");
}
<link href="@cssPath/bootstrap.min.css" rel="stylesheet" />
<link href="@cssPath/jquery.dataTables.min.css" rel="stylesheet" />
<link href="@cssPath/font-awesome.min.css" rel="stylesheet" />
<link href="@cssPath/layout.css" rel="stylesheet" />
@Html.Partial("PdfHeader")
<table id="tbl" class="table table-responsive table-striped table-bordered">
    <thead>
        <tr>
            <th data-title="Capitulo">Capítulo</th>
            <th data-title="Concepto">@Html.DisplayNameFor(model => model.Concepto)</th>
            <th data-title="PartidaGen">@Html.DisplayNameFor(model => model.PartidaGen)</th>
            <th data-title="PartidaEsp">@Html.DisplayNameFor(model => model.PartidaEsp)</th>
            <th data-title="Descripcion">Descripción</th>
        </tr>

    </thead>

    <tbody>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Capitulo)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Concepto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartidaGen)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.PartidaEsp)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Descripcion)
                </td>
            </tr>
        }
    </tbody>

</table>