@model TesoreriaVS12.Areas.Tesoreria.Models.De_ClavePresupuestal

<div id="ParcialPresupuesto">
    <div class="cri">


        <div class="row">
            <div class="col-xs-3 margen-2 labels">
                <label>@Html.LabelFor(model => model.Id_CentroRecaudador)</label>
            </div>
            <div class="col-xs-2 margen-2 inputs">
                <div class="input-group group-egreso-clave">
                    @Html.TextBoxFor(model => model.Id_CentroRecaudador, new { @class = "form-control textBox js_Captura", @objeto = "1" })
                    <span class="input-group-addon">
                        <span class="fa fa-search"></span>
                    </span>
                </div>
            </div>
            <div class="col-xs-7 margen-2">
                <div class="col-xs-11">
                    @Html.TextBoxFor(model => model.Ca_CentroRecaudador.Descripcion, new { @class = "form-control js_Descripcion egreso-desc" })
                </div>
                <div class="col-xs-1">
                    @Html.ValidationMessageFor(model => model.Id_CentroRecaudador)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 margen-2 labels">
                <label>@Html.LabelFor(model => model.Id_Fuente)</label>
            </div>
            <div class="col-xs-2 margen-2 inputs">
                <div class="input-group group-egreso-clave">
                    @Html.TextBoxFor(model => model.Id_Fuente, new { @class = "form-control textBox js_Captura", @objeto = "2" })
                    <span class="input-group-addon">
                        <span class="fa fa-search"></span>
                    </span>
                </div>
            </div>
            <div class="col-xs-7 margen-2">
                <div class="col-xs-11">
                    @Html.TextBoxFor(model => model.Ca_FuentesFin_Ing.Descripcion, new { @class = "form-control js_Descripcion egreso-desc" })
                </div>
                <div class="col-xs-1">
                    @Html.ValidationMessageFor(model => model.Id_Fuente)
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 margen-2 labels">
                <label>@Html.LabelFor(model => model.AnioFin)</label>
            </div>
            <div class="col-xs-2 margen-2 inputs">
                <div class="input-group group-egreso-clave">
                    @Html.TextBoxFor(model => model.AnioFin, new { @class = "form-control textBox js_Captura",@objeto ="5"})
                    <span class="input-group-addon js_AnioFin">
                        <span class="fa fa-search"></span>
                    </span>
                </div>
                @Html.ValidationMessageFor(model => model.AnioFin)
            </div>
            <div class="col-xs-7 margen-2">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-3 margen-2 labels">
                <label>@Html.LabelFor(model => model.Id_Alcance)</label>
            </div>
            <div class="col-xs-2 margen-2 inputs">
                <div class="input-group group-egreso-clave">
                    @Html.TextBoxFor(model => model.Id_Alcance, new { @class = "form-control textBox js_Captura", @objeto = "3" })
                    <span class="input-group-addon">
                        <span class="fa fa-search"></span>
                    </span>
                </div>
            </div>
            <div class="col-xs-7 margen-2">
                <div class="col-xs-11">
                    @Html.TextBoxFor(model => model.Ca_AlcanceGeo.Descripcion, new { @class = "form-control js_Descripcion egreso-desc" })
                </div>
                <div class="col-xs-1">
                    @Html.ValidationMessageFor(model => model.Id_Alcance)
                </div>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3 margen-2 labels">
                <label>@Html.LabelFor(model => model.Id_Concepto)</label>
            </div>
            <div class="col-xs-2 margen-2 inputs">
                <div class="input-group group-egreso-clave">
                    @Html.TextBoxFor(model => model.Id_Concepto, new { @class = "form-control textBox js_Captura", maxlength = 4, @objeto = "4" })
                    <span class="input-group-addon">
                        <span class="fa fa-search"></span>
                    </span>
                </div>
            </div>
            <div class="col-xs-7 margen-2">
                <div class="col-xs-11">
                    @Html.TextBoxFor(model => model.Ca_ConceptoIngresos.Descripcion, new { @class = "form-control js_Descripcion egreso-desc" })
                </div>
                <div class="col-xs-1">
                    @Html.ValidationMessageFor(model => model.Id_Concepto)
                </div>
            </div>
        </div>

        <div class="row js_cur">
            <div class="col-xs-3 margen-2 labels">
                <label>@Html.LabelFor(model => model.IdCur)</label>
            </div>
            <div class="col-xs-3 margen-2">
                <div class="input-group Id_Cuenta">
                    @Html.TextBoxFor(model => model.IdCur, new { @class = "form-control textBox js_Captura"})
                    <span class="input-group-addon">
                        <span class="fa fa-search"></span>
                    </span>
                </div>
            </div>
            <div class="col-xs-6 margen-2">
                <div class="col-xs-11">
                    @Html.TextBoxFor(model => model.Ca_Cur.Descripcion, new { @class = "form-control js_Descripcion egreso-desc" })
                </div>
                <div class="col-xs-1">
                    @Html.ValidationMessageFor(model => model.IdCur)
                </div>
            </div>
        </div>
    </div>
    <div class="row hiden js_CuentaHiden">
        <div class="col-xs-3 margen-2 labels">
            <label>Aplicación Contable</label>
        </div>
        <div class="col-xs-3 margen-2">
            <div class="input-group Id_Cuenta">
                <input type="text" name="Id_Cuenta" id="Id_Cuenta" value="" class="form-control" />
                @*<select id="Id_Cuenta" name="Id_Cuenta" class="form-control" disabled="disabled"></select>*@
                <span class="input-group-addon js_searchCuentas">
                    <span class="fa fa-search"></span>
                </span>
                @*<input type="text" value="" name="Id_Cuenta" id="Id_Cuenta" data-val-required="*" data-val="true" class="form-control formPresup" disabled="disabled">*@
            </div>
        </div>
        <div class="col-xs-6 margen-2">
            <div class="col-xs-11">
                <input type="text" id="Ca_Cuentas_Descripcion" class="form-control textDescripcion js_Descripcion egreso-desc" value="" />
            </div>
            <div class="col-xs-1">

            </div>
        </div>
    </div>
</div>


@section Scripts{
    <script src="~/Scripts/jquery.validate.min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
}
