@model TesoreriaVS12.Areas.Tesoreria.Models.MA_PresupuestoEgModel
@{
    Layout = null;
}

<div id="ParcialPresupuesto">
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    <div class="row">
        <div class="col-xs-3 margen-2">
            <label>@Html.LabelFor(model => model.Id_Area)</label>
        </div>
        <div class="col-xs-2 margen-2">
            <div class="input-group">
                @Html.TextBoxFor(model => model.Id_Area, new { @class = "form-control textBox js_Captura", @objeto = "1" /*maxlength = 6 */})
                <span class="input-group-addon js_Buscar"><span class="fa fa-search"></span>
                </span>
            </div>
        </div>
        <div class="col-xs-7 margen-2">
            <div class="col-xs-11">
                @Html.TextBoxFor(model => model.Ca_Areas.Descripcion, new { @class = "form-control js_Descripcion" })
            </div>
            <div class="col-xs-1">
                @Html.ValidationMessageFor(model => model.Id_Area)
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-xs-3 margen-2">
            <label>@Html.LabelFor(model => model.Id_Funcion)</label>
        </div>
        <div class="col-xs-2 margen-2">
            <div class="input-group">
                @Html.TextBoxFor(model => model.Id_Funcion, new { @class = "form-control textBox js_Captura", objeto = "2" /*, maxlength = 3 */})
                <span class="input-group-addon js_Buscar"><span class="fa fa-search"></span>
                </span>
            </div>
        </div>
        <div class="col-xs-7 margen-2">
            <div class="col-xs-11">
                @Html.TextBoxFor(model => model.Ca_Funciones.Descripcion, new { @class = "form-control js_Descripcion" })
            </div>
            <div class="col-xs-1">
                @Html.ValidationMessageFor(model => model.Id_Funcion)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 margen-2">
            <label>@Html.LabelFor(model => model.Id_Actividad)</label>
        </div>
        <div class="col-xs-2 margen-2">
            <div class="input-group">
                @Html.TextBoxFor(model => model.Id_Actividad, new { @class = "form-control textBox js_Captura", objeto = "3"/*, maxlength = 2 */})
                <span class="input-group-addon js_Buscar"><span class="fa fa-search"></span>
                </span>
            </div>
        </div>
        <div class="col-xs-7 margen-2">
            <div class="col-xs-11">
                @Html.TextBoxFor(model => model.Ca_ActividadInst.Descripcion, new { @class = "form-control js_Descripcion" })
            </div>
            <div class="col-xs-1">
                @Html.ValidationMessageFor(model => model.Id_Actividad)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 margen-2">
            <label>@Html.LabelFor(model => model.Id_ClasificacionP)</label>
        </div>
        <div class="col-xs-2 margen-2">
            <div class="input-group">
                @Html.TextBoxFor(model => model.Id_ClasificacionP, new { @class = "form-control textBox js_Captura", objeto = "4"/*, maxlength = 1*/ })
                <span class="input-group-addon js_Buscar"><span class="fa fa-search"></span>
                </span>
            </div>
        </div>
        <div class="col-xs-7 margen-2">
            <div class="col-xs-11">
                @Html.TextBoxFor(model => model.Ca_ClasProgramatica.Descripcion, new { @class = "form-control js_Descripcion" })
            </div>
            <div class="col-xs-1">
                @Html.ValidationMessageFor(model => model.Id_ClasificacionP)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 margen-2">
            <label>@Html.LabelFor(model => model.Id_Programa)</label>
        </div>
        <div class="col-xs-2 margen-2">
            <div class="input-group">
                @Html.TextBoxFor(model => model.Id_Programa, new { @class = "form-control textBox js_Captura", objeto = "5"/*, maxlength = 2 */})
                <span class="input-group-addon js_Buscar"><span class="fa fa-search"></span>
                </span>
            </div>
        </div>
        <div class="col-xs-7 margen-2">
            <div class="col-xs-11">
                @Html.TextBoxFor(model => model.Ca_Programas.Descripcion, new { @class = "form-control js_Descripcion" })
            </div>
            <div class="col-xs-1">
                @Html.ValidationMessageFor(model => model.Id_Programa)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 margen-2">
            <label>@Html.LabelFor(model => model.Id_Proceso)</label>
        </div>
        <div class="col-xs-2 margen-2">
            <div class="input-group">
                @Html.TextBoxFor(model => model.Id_Proceso, new { @class = "form-control textBox js_Captura", objeto = "6"/*, maxlength = 4 */})
                <span class="input-group-addon js_Buscar"><span class="fa fa-search"></span>
                </span>
            </div>
        </div>
        <div class="col-xs-7 margen-2">
            <div class="col-xs-11">
                @Html.TextBoxFor(model => model.Ca_Proyecto.Descripcion, new { @class = "form-control js_Descripcion" })
            </div>
            <div class="col-xs-1">
                @Html.ValidationMessageFor(model => model.Id_Proceso)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 margen-2">
            <label>@Html.LabelFor(model => model.Id_TipoMeta)</label>
        </div>
        <div class="col-xs-2 margen-2">
            <div class="input-group">
                @Html.TextBoxFor(model => model.Id_TipoMeta, new { @class = "form-control textBox js_Captura", objeto = "7"/*, maxlength = 1*/ })
                <span class="input-group-addon js_Buscar"><span class="fa fa-search"></span>
                </span>
            </div>
        </div>
        <div class="col-xs-7 margen-2">
            <div class="col-xs-11">
                @Html.TextBoxFor(model => model.Ca_TipoMeta.Descripcion, new { @class = "form-control js_Descripcion" })
            </div>
            <div class="col-xs-1">
                @Html.ValidationMessageFor(model => model.Id_TipoMeta)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 margen-2">
            <label>@Html.LabelFor(model => model.Id_ActividadMIR)</label>
        </div>
        <div class="col-xs-2 margen-2">
            <div class="input-group">
                @Html.TextBoxFor(model => model.Id_ActividadMIR, new { @class = "form-control textBox js_Captura", objeto = "8"/*, maxlength = 2*/, @atributos = "Id_Proceso" })
                <span class="input-group-addon js_Buscar"><span class="fa fa-search"></span>
                </span>
            </div>
        </div>
        <div class="col-xs-7 margen-2">
            <div class="col-xs-11">
                @Html.TextBoxFor(model => model.Ca_Actividad.Descripcion, new { @class = "form-control js_Descripcion" })
            </div>
            <div class="col-xs-1">
                @Html.ValidationMessageFor(model => model.Id_ActividadMIR)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 margen-2">
            <label>@Html.LabelFor(model => model.Id_Accion)</label>
        </div>
        <div class="col-xs-2 margen-2">
            <div class="input-group">
                @Html.TextBoxFor(model => model.Id_Accion, new { @class = "form-control textBox js_Captura", objeto = "9"/*, maxlength = 3*/, @atributos = "Id_Proceso,Id_ActividadMIR" })
                <span class="input-group-addon js_Buscar"><span class="fa fa-search"></span>
                </span>
            </div>
        </div>
        <div class="col-xs-7 margen-2">
            <div class="col-xs-11">
                @Html.TextBoxFor(model => model.Ca_Acciones.Descripcion, new { @class = "form-control js_Descripcion" })
            </div>
            <div class="col-xs-1">
                @Html.ValidationMessageFor(model => model.Id_Accion)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 margen-2">
            <label>@Html.LabelFor(model => model.Id_Alcance)</label>
        </div>
        <div class="col-xs-2 margen-2">
            <div class="input-group">
                @Html.TextBoxFor(model => model.Id_Alcance, new { @class = "form-control textBox js_Captura", objeto = "10"/*, maxlength = 1 */})
                <span class="input-group-addon js_Buscar"><span class="fa fa-search"></span>
                </span>
            </div>
        </div>
        <div class="col-xs-7 margen-2">
            <div class="col-xs-11">
                @Html.TextBoxFor(model => model.Ca_AlcanceGeo.Descripcion, new { @class = "form-control js_Descripcion" })
            </div>
            <div class="col-xs-1">
                @Html.ValidationMessageFor(model => model.Id_Alcance)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 margen-2">
            <label>@Html.LabelFor(model => model.Id_TipoG)</label>
        </div>
        <div class="col-xs-2 margen-2">
            <div class="input-group">
                @Html.TextBoxFor(model => model.Id_TipoG, new { @class = "form-control textBox js_Captura", objeto = "11"/*, maxlength = 1 */})
                <span class="input-group-addon js_Buscar"><span class="fa fa-search"></span>
                </span>
            </div>
        </div>
        <div class="col-xs-7 margen-2">
            <div class="col-xs-11">
                @Html.TextBoxFor(model => model.Ca_TipoGastos.Descripcion, new { @class = "form-control js_Descripcion" })
            </div>
            <div class="col-xs-1">
                @Html.ValidationMessageFor(model => model.Id_TipoG)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 margen-2">
            <label>@Html.LabelFor(model => model.Id_Fuente)</label>
        </div>
        <div class="col-xs-2 margen-2">
            <div class="input-group">
                @Html.TextBoxFor(model => model.Id_Fuente, new { @class = "form-control textBox js_Captura", objeto = "12"/*, maxlength = 4 */})
                <span class="input-group-addon js_Buscar"><span class="fa fa-search"></span>
                </span>
            </div>
        </div>
        <div class="col-xs-7 margen-2">
            <div class="col-xs-11">
                @Html.TextBoxFor(model => model.Ca_FuentesFin.Descripcion, new { @class = "form-control js_Descripcion" })
            </div>
            <div class="col-xs-1">
                @Html.ValidationMessageFor(model => model.Id_Fuente)
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 margen-2">
            <label>@Html.LabelFor(model => model.AnioFin)</label>
        </div>
        <div class="col-xs-2 margen-2">
            <select name="AnioFin" id="AnioFin" class="form-control">
                @if (!String.IsNullOrEmpty(Model.AnioFin))
                {
                    <option selected value="@Model.AnioFin">@String.Format("20{0}", Model.AnioFin)</option>
                }
            </select>
            @Html.ValidationMessageFor(model => model.AnioFin)
        </div>
        <div class="col-xs-7 margen-2">
        </div>
    </div>
    <div class="row">
        <div class="col-xs-3 margen-2">
            <label>@Html.LabelFor(model => model.Id_ObjetoG)</label>
        </div>
        <div class="col-xs-2 margen-2">
            <div class="input-group">
                @Html.TextBoxFor(model => model.Id_ObjetoG, new { @class = "form-control textBox js_Captura", objeto = "14"/*, maxlength = 5*/})
                <span class="input-group-addon js_Buscar"><span class="fa fa-search"></span>
                </span>
            </div>
        </div>
        <div class="col-xs-7 margen-2">
            <div class="col-xs-11">
                @Html.TextBoxFor(model => model.Ca_ObjetoGasto.Descripcion, new { @class = "form-control js_Descripcion" })
            </div>
            <div class="col-xs-1">
                @Html.ValidationMessageFor(model => model.Id_ObjetoG)
            </div>
        </div>
    </div>
    <div class="row hiden js_CuentaHiden">
        <div class="col-xs-3 margen-2">
            <label>Aplicación Contable</label>
        </div>
        <div class="col-xs-2 margen-2">
            <div class="input-group">
                <input type="text" value="" name="Id_Cuenta" id="Id_Cuenta" data-val-required="*" data-val="true" class="form-control js_Captura" disabled="disabled">
                <span class="input-group-addon js_Buscar">
                    <span class="fa fa-search"></span>
                </span>
            </div>
        </div>
        <div class="col-xs-7 margen-2">
            <div class="col-xs-11">
                <input type="text" id="desc_Id_Cuenta" class="form-control" value="" />
            </div>
            <div class="col-xs-1">
                
            </div>
        </div>
    </div>
</div>