@model TesoreriaVS12.Models.CA_PerfilesModel

@{
    Layout = null;
}

@using (Html.BeginForm("AgregarUsuario", "Catalogos", FormMethod.Post, new { id = "frmPrf",@class="formulario" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)


    @Html.HiddenFor(model => model.IdPerfil)

    <div class="editor-label">
        Descripción
    </div>
    <div class="row">
        <div class="col-xs-11">
            @Html.TextBoxFor(model => model.Descripcion, new { @class="form-control notMayus"})
        </div>
        <div class="col-xs-1">
            @Html.ValidationMessageFor(model => model.Descripcion)
        </div>
    </div>
}

<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js" class="jsValidate"></script>