@model IEnumerable<TesoreriaVS12.Areas.Tesoreria.Models.Ma_PresupuestoIngModel>

@{
    Layout = null;
    decimal Total01 = 0;
    decimal Total02 = 0;
    decimal Total03 = 0;
    decimal Total04 = 0;
    decimal Total05 = 0;
    decimal Total06 = 0;
    decimal Total07 = 0;
    decimal Total08 = 0;
    decimal Total09 = 0;
    decimal Total10 = 0;
    decimal Total11 = 0;
    decimal Total12 = 0;

    ViewBag.Title = "Presupuesto Aprobado";
    var imagePath = Server.MapPath("~/Images");
    var cssPath = Server.MapPath("~/Content");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>reporteGeneral</title>
    <link href="@cssPath/reporteGeneral.css" rel="stylesheet" />
</head>
<body>
    <div class="cabecera">
        <div class="logo">
            <img src="@imagePath/reportes/@TesoreriaVS12.Models.Logueo.GetParametro("EscudoReportes")" class="logo-ente" alt="" />
        </div>
        <div class="parametros">
            <div class="gobierno">@TesoreriaVS12.Models.Logueo.GetParametro("Titulo1")</div>
            <div class="instituto">@TesoreriaVS12.Models.Logueo.GetParametro("Titulo2")</div>
            <div class="ejercicio">@TesoreriaVS12.Models.Logueo.GetParametro("Titulo3")</div>
            <div class="sistema">@TesoreriaVS12.Models.Logueo.GetParametro("Titulo4")</div>
        </div>
        <div class="poliza">
            REPORTE DE PRESUPUESTO ESTIMADO 
        </div>
    </div>
<style>
    #tblEstimado{
        font-size:12px;
    }
</style>
    <table id="tblEstimado" class="tablaGrande">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id_ClavePresupuesto)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Estimado01)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Estimado02)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Estimado03)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Estimado04)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Estimado05)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Estimado06)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Estimado07)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Estimado08)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Estimado09)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Estimado10)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Estimado11)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Estimado12)
                </th>
                <th class="text-right">
                    @Html.DisplayNameFor(model => model.Total)
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.Encode(TesoreriaVS12.Areas.Tesoreria.Models.StringID.IdClavePresupuestoIngFormato(item.Id_ClavePresupuesto).Trim())
                        @*@Html.Encode(item.Id_ClavePresupuesto)*@
                    </td>
                    <td class="text-right">
                        @Html.Encode(String.Format("{0:N}", item.Estimado01))
                    </td>
                    <td class="text-right">
                        @Html.Encode(String.Format("{0:N}", item.Estimado02))
                    </td>
                    <td class="text-right">
                        @Html.Encode(String.Format("{0:N}", item.Estimado03))
                    </td>
                    <td class="text-right">
                        @Html.Encode(String.Format("{0:N}", item.Estimado04))
                    </td>
                    <td class="text-right">
                        @Html.Encode(String.Format("{0:N}", item.Estimado05))
                    </td>
                    <td class="text-right">
                        @Html.Encode(String.Format("{0:N}", item.Estimado06))
                    </td>
                    <td class="text-right">
                        @Html.Encode(String.Format("{0:N}", item.Estimado07))
                    </td>
                    <td class="text-right">
                        @Html.Encode(String.Format("{0:N}", item.Estimado08))
                    </td>
                    <td class="text-right">
                        @Html.Encode(String.Format("{0:N}", item.Estimado09))
                    </td>
                    <td class="text-right">
                        @Html.Encode(String.Format("{0:N}", item.Estimado10))
                    </td>
                    <td class="text-right">
                        @Html.Encode(String.Format("{0:N}", item.Estimado11))
                    </td>
                    <td class="text-right">
                        @Html.Encode(String.Format("{0:N}", item.Estimado12))
                    </td>
                    <td class="text-right">
                        @Html.Encode(String.Format("{0:N}", item.Total))
                    </td>
                </tr>
                Total01 += item.Estimado01.HasValue ? item.Estimado01.Value : 0;
                Total02 += item.Estimado02.HasValue ? item.Estimado02.Value : 0;
                Total03 += item.Estimado03.HasValue ? item.Estimado03.Value : 0;
                Total04 += item.Estimado04.HasValue ? item.Estimado04.Value : 0;
                Total05 += item.Estimado05.HasValue ? item.Estimado05.Value : 0;
                Total06 += item.Estimado06.HasValue ? item.Estimado06.Value : 0;
                Total07 += item.Estimado07.HasValue ? item.Estimado07.Value : 0;
                Total08 += item.Estimado08.HasValue ? item.Estimado08.Value : 0;
                Total09 += item.Estimado09.HasValue ? item.Estimado09.Value : 0;
                Total10 += item.Estimado10.HasValue ? item.Estimado10.Value : 0;
                Total11 += item.Estimado11.HasValue ? item.Estimado11.Value : 0;
                Total12 += item.Estimado12.HasValue ? item.Estimado12.Value : 0;
            }
            <tr class="tfoot">
                <td class="text-right"><b>Total</b></td>
                <td class="text-right totales"><b>@String.Format("{0:n}", Total01)</b></td>
                <td class="text-right totales"><b>@String.Format("{0:n}", Total02)</b></td>
                <td class="text-right totales"><b>@String.Format("{0:n}", Total03)</b></td>
                <td class="text-right totales"><b>@String.Format("{0:n}", Total04)</b></td>
                <td class="text-right totales"><b>@String.Format("{0:n}", Total05)</b></td>
                <td class="text-right totales"><b>@String.Format("{0:n}", Total06)</b></td>
                <td class="text-right totales"><b>@String.Format("{0:n}", Total07)</b></td>
                <td class="text-right totales"><b>@String.Format("{0:n}", Total08)</b></td>
                <td class="text-right totales"><b>@String.Format("{0:n}", Total09)</b></td>
                <td class="text-right totales"><b>@String.Format("{0:n}", Total10)</b></td>
                <td class="text-right totales"><b>@String.Format("{0:n}", Total11)</b></td>
                <td class="text-right totales"><b>@String.Format("{0:n}", Total12)</b></td>
                <td class="text-right totales"><b>@String.Format("{0:n}", Total01 + Total02 + Total03 + Total04 + Total05 + Total06 + Total07 + Total08 + Total09 + Total10 + Total11 + Total12)</b></td>
            </tr>
        </tbody>
    </table>
</body>
</html>