@model IEnumerable<TesoreriaVS12.Areas.Tesoreria.Models.De_DisponibilidadModel>

@{
    decimal Total1 = 0;
    decimal Total2 = 0;
    decimal Total3 = 0;
    decimal TotalPre = 0;
    decimal TotalVigente = 0;
    decimal Total4 = 0;
    decimal Total5 = 0;
    decimal Total6 = 0;
    decimal Total7 = 0;
    decimal Total8 = 0;
    decimal Total9 = 0;
    decimal Total10 = 0;
    decimal Total11 = 0;
    ViewBag.Title = "Presupuesto Aprobado";
    var imagePath = Server.MapPath("~/Images");
    var cssPath = Server.MapPath("~/Content");
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>reporteGeneral</title>
    <link href="@cssPath/reporteGeneral.css" rel="stylesheet" />
    <style>
        #tablaDisponibilidad{
            font-size:11px;
        }
    </style>
</head>
<body>
    <div class="cabecera">
        <div class="logo">
            <img src="@imagePath/reportes/@TesoreriaVS12.Models.Logueo.GetParametro("EscudoReportes")" class="logo-ente" alt="" />
        </div>
        <div class="parametros">
            <div class="gobierno">@TesoreriaVS12.Models.Logueo.GetParametro("Titulo1")</div>
            <div class="instituto">@TesoreriaVS12.Models.Logueo.GetParametro("Titulo2")</div>
            <div class="ejercicio">@TesoreriaVS12.Models.Logueo.GetParametro("Titulo3")</div>
            <div class="sistema">@TesoreriaVS12.Models.Logueo.GetParametro("Titulo4")</div>
        </div>
        <div class="poliza">
            REPORTE DE DISPONIBILIDAD POR CLAVE PRESUPUESTARIA @Html.Raw(ViewBag.TituloMes)
        </div>
    </div>

    <table id="tablaDisponibilidad" class="tablaGrande">
        <thead>
            <tr>
                <th class="text-center">Clave Presupuestaria</th>
                <th class="text-center">Aprobado</th>
                <th class="text-center">Ampliaciones</th>
                <th class="text-center">Reducciones</th>
                <th class="text-center">Modificado</th>
                <th class="text-center">Pre Comprometido</th>
                <th class="text-center">Comprometido</th>
                <th class="text-center">Devengado</th>
                <th class="text-center">Ejercido</th>
                <th class="text-center">Pagado</th>
                <th class="text-center"><b>Disponible</b></th>
            </tr>
        </thead>

        @foreach (var item in Model)
        {

            <tr>
                <td>
                    @Html.Encode(TesoreriaVS12.Areas.Tesoreria.Models.StringID.IdClavePresupuestoFormato(item.Id_ClavePresupuesto).Trim())
                    @*@String.Format("{0}", item.Id_ClavePresupuesto)*@
                </td>
                <td class="text-right">
                    @String.Format("{0:n}", item.Aprobado)
                </td>
                <td class="text-right">
                    @String.Format("{0:n}", item.Ampliaciones1)
                </td>
                <td class="text-right">
                    @String.Format("{0:n}", item.Reducciones1)
                </td>
                <td class="text-right">
                    @String.Format("{0:n}", item.Vigente)
                </td>
                <td class="text-right">
                    @String.Format("{0:n}", item.PreComprometido)
                </td>
                <td class="text-right">
                    @String.Format("{0:n}", item.Comprometido)
                </td>
                <td class="text-right">
                    @String.Format("{0:n}", item.Devengado)
                </td>
                <td class="text-right">
                    @String.Format("{0:n}", item.Ejercido)
                </td>
                <td class="text-right">
                    @String.Format("{0:n}", item.Pagado)
                </td>
                <td class="text-right">
                    <b>@String.Format("{0:n}", item.Disponible)</b>
                </td>
                @{
                    Total1 += item.Aprobado.HasValue ? item.Aprobado.Value : 0;
                    Total2 += item.Ampliaciones1.HasValue ? item.Ampliaciones1.Value : 0;
                    Total3 += item.Reducciones1.HasValue ? item.Reducciones1.Value : 0;
                    TotalPre += item.PreComprometido.HasValue ? item.PreComprometido.Value : 0;
                    TotalVigente += item.Vigente.HasValue ? item.Vigente.Value : 0;
                    Total7 += item.Comprometido.HasValue ? item.Comprometido.Value : 0;
                    Total8 += item.Devengado.HasValue ? item.Devengado.Value : 0;
                    Total9 += item.Ejercido.HasValue ? item.Ejercido.Value : 0;
                    Total10 += item.Pagado.HasValue ? item.Pagado.Value : 0;
                    Total11 += item.Disponible.HasValue ? item.Disponible.Value : 0;
                }
            </tr>
        }
        <tr>
            <td class="text-right"><b>Total</b></td>
            <td class="text-right totales"><b>@String.Format("{0:n}", Total1)</b></td>
            <td class="text-right totales"><b>@String.Format("{0:n}", Total2)</b></td>
            <td class="text-right totales"><b>@String.Format("{0:n}", Total3)</b></td>
            <td class="text-right totales"><b>@String.Format("{0:n}", TotalVigente)</b></td>
            <td class="text-right totales"><b>@String.Format("{0:n}", TotalPre)</b></td>
            <td class="text-right totales"><b>@String.Format("{0:n}", Total7)</b></td>
            <td class="text-right totales"><b>@String.Format("{0:n}", Total8)</b></td>
            <td class="text-right totales"><b>@String.Format("{0:n}", Total9)</b></td>
            <td class="text-right totales"><b>@String.Format("{0:n}", Total10)</b></td>
            <td class="text-right totales"><b>@String.Format("{0:n}", TotalVigente - (TotalPre + Total7 + Total8 + Total9 + Total10))</b></td>
        </tr>
    </table>
</body>
</html>
