@model TesoreriaVS12.Areas.Tesoreria.Models.BusquedaContrarecibos

@{
    Layout = null;
}

@using (Html.BeginForm("", "", FormMethod.Post, new { id = "frmSearchContra" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <div class="editor-label">
        <label>Folio de Cuenta por Liquidar</label>
    </div>
    <div class="input-group folio_group">
        @Html.TextBoxFor(model => model.FolioContrarecibo, new { @class = "form-control", id = "Folio_filtro" })
        <span class="input-group-addon js_searchC">
            <span class="fa fa-search"></span>
        </span>
    </div>
    <div class="editor-label">
        @Html.LabelFor(model => model.NombreBeneficiario)
    </div>
    <div class="input-group">
        @Html.TextBoxFor(model => model.NombreBeneficiario, new { @class = "form-control" })
        <span class="input-group-addon js_searchC">
            <span class="fa fa-search"></span>
        </span>
    </div>
    <br/>
    if (@Model.TipoCR == 1)
    {
        <div class="col-xs-12">
            <div class="col-xs-3">
                <div class="editor-label">
                    @Html.LabelFor(model => model.NoCompromiso)
                </div>
                <div class="input-group folio_group">
                    @Html.TextBoxFor(model => model.NoCompromiso, new { @class = "form-control" })
                    <span class="input-group-addon js_searchC">
                        <span class="fa fa-search"></span>
                    </span>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="editor-label">
                    No. de Requisición
                </div>
                <div class="input-group folio_group">
                    @Html.TextBoxFor(model => model.NoRequisicion, new { @class = "form-control" })
                    <span class="input-group-addon js_searchC">
                        <span class="fa fa-search"></span>
                    </span>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="editor-label">
                    @Html.LabelFor(model => model.NoOrdenCompra)
                </div>
                <div class="input-group folio_group">
                    @Html.TextBoxFor(model => model.NoOrdenCompra, new { @class = "form-control" })
                    <span class="input-group-addon js_searchC">
                        <span class="fa fa-search"></span>
                    </span>
                </div>
            </div>
            <div class="col-xs-3">
                <div class="editor-label">
                    @Html.LabelFor(model => model.NoCheque)
                </div>
                <div class="input-group folio_group">
                    @Html.TextBoxFor(model => model.NoCheque, new { @class = "form-control" })
                    <span class="input-group-addon js_searchC">
                        <span class="fa fa-search"></span>
                    </span>
                </div>
            </div>
        </div>
    }

    <input type="hidden" name="TipoCR" value="@Model.TipoCR" />
}
<div id="Resultados"></div>
