@model IEnumerable<TesoreriaVS12.Areas.Tesoreria.Models.De_ContrarecibosModel>

@{
    ViewBag.Title = "DetallesContrarecibos";
    Layout = "~/Views/Shared/_Layout.cshtml";

    TesoreriaVS12.Areas.Tesoreria.Models.De_ContrarecibosModel detalle = Model.FirstOrDefault();
}
<div id="_menu_lateral">
    @{ Html.RenderAction("Botonera", "Home", new { Area = "", ids = new List<object> { "bSalir" } }); }
</div>
@using (Html.BeginForm("Index", "Contrarecibos", FormMethod.Post, new { id = "frmDetalles" }))
{
    <input type="hidden" id="TipoCR" name="TipoCR" value="@Model.FirstOrDefault().Id_TipoCR" />
    <input type="hidden" id="FolioCR" name="FolioCR" value="@Model.FirstOrDefault().Id_FolioCR" />
}
<br /><br />
<div class="row">
    <div class="col-xs-4">
        <label> @Html.DisplayNameFor(x => x.Id_TipoCR) </label>
        @Model.FirstOrDefault().TipoContrarecibo
        @Html.HiddenFor(m => m.FirstOrDefault().Id_TipoCR)

    </div>
    <div class="col-xs-3">
        @Html.LabelFor(model=> model.FirstOrDefault().Id_FolioCR)
        @*@Html.DisplayNameFor(model => model.Id_FolioCR)*@
        @Model.FirstOrDefault().Id_FolioCR
    </div>
</div>
<br /><br />
<div id="_detalles_presupuesto">
    @Html.Partial("_ClavePresupuestal", detalle)
</div>
<div class="clearfix"></div>
<br /><br />
<div class="row">
    <div class="col-xs-2">
        <label>@Html.DisplayNameFor(model => model.Id_Movimiento)</label>
        @Html.TextBoxFor(model => model.FirstOrDefault().TipoMovimiento)
    </div>
    <div class="col-xs-6">
        <label>@Html.DisplayNameFor(model => model.Importe)</label>
        @Html.TextBoxFor(model => model.FirstOrDefault().Importe)
    </div>
    @*<div class="col-xs-2">
            @Html.DisplayNameFor(model => model.Disponibilidad)
            @Html.CheckBoxFor(model => model.FirstOrDefault().Disponibilidad.Value)
        </div>*@
    <div>
        <input type="hidden" id="_IdCuenta" value="@Model.FirstOrDefault().Id_Cuenta" />
        <input type="hidden" id="_IdCuenta_Desc" value="@(Model.FirstOrDefault().Ca_Cuentas != null ? Model.FirstOrDefault().Ca_Cuentas.Descripcion : "")" />
    </div>
</div>

<table id="detallesContra" class="table table-striped table-bordered">
    <thead>
        <tr>
            <th>
                Clave Presupuestaria
            </th>
            <th>
                Id Cuenta
            </th>
            <th>
                Cuenta
            </th>
            <th class="text-right">
                Cargo
            </th>
            <th class="text-right">
                Abono
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id_ClavePresupuesto)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ca_Cuentas.Id_CuentaFormato)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ca_Cuentas.Descripcion)
                </td>
                <td class="text-right">
                    @(item.Id_Movimiento == 1 ? String.Format("{0:C}", item.Importe) : "")
                </td>
                <td class="text-right">
                    @(item.Id_Movimiento == 2 ? String.Format("{0:C}", item.Importe) : "")
                </td>
                <td class="acciones">
                    <i class="fa fa-bars js_detalles" data-idcuenta="@item.Id_Cuenta" data-cuenta="@(item.Ca_Cuentas != null ? item.Ca_Cuentas.Descripcion : "")" data-registro="@item.Id_Registro" data-folio="@item.Id_FolioCR" data-tipo="@item.Id_TipoCR"></i>
                </td>
            </tr>
        }
    </tbody>
    <tfoot>
        <tr>
            <td colspan="2"></td>
            <td>Totales</td>
            <td class="text-right">@Model.Where(x => x.Id_Movimiento == 1).Sum(x => x.Importe)</td>
            <td class="text-right">@Model.Where(x => x.Id_Movimiento == 2).Sum(x => x.Importe)</td>
            <td></td>
        </tr>
    </tfoot>
</table>
@section scripts
{

    <script src="~/Scripts/jquery.formatCurrency-1.4.0.min.js"></script>
    <script src="~/Areas/Tesoreria/Scripts/Catalogos/FocusOut.js"></script>
    <script>
        var ligaContrarecibos = "@Url.Action("Index", "Contrarecibos",new { area = "Tesoreria" })";
        var ligaArrendamientos = "@Url.Action("Arrendamientos", "Contrarecibos", new { area = "Tesoreria" })";
        var ligaHonorarios= "@Url.Action("Honorarios", "Contrarecibos", new { area = "Tesoreria" })";
        var ligaCancelacionActivos = "@Url.Action("CancelacionActivos", "Contrarecibos", new { area = "Tesoreria" })";
        var ligaHonorariosAsimilables= "@Url.Action("HonorariosAsimilables", "Contrarecibos", new { area = "Tesoreria" })";
        $(function () {
            $("#Ca_Cuentas_Descripcion").val('@Html.Raw(detalle.Ca_Cuentas.Descripcion)');
            ConstruirTabla("detallesContra", "No detalles...");
            $("#Importe").addClass("importe").formatCurrency();
            //$("#_menu_lateral").on("click", function () {
            //    window.location.href = "/Tesoreria/Contrarecibos";
            //});
            $(".textBox, select, input[type=text]").addClass("form-control").attr("disabled", "disabled");
            $(".js_CuentaHiden").removeClass("hiden");
            $("#Id_Cuenta").val($("#_IdCuenta").val());
            //$("#desc_Id_Cuenta").val($("#_IdCuenta_Desc").val());
            $(".input-group-addon").off();
            $("#detallesContra").on("click", ".js_detalles", recargarPresupuesto);

            $("#js_mSalir").on("click", function () {
                $("#TipoCR, #FolioCR").removeAttr("disabled");
                var idTipoCR = parseInt($("#Id_TipoCR").val());
                switch (idTipoCR) {
                    case 1:
                        $("#frmDetalles").attr("action", ligaContrarecibos);
                        $("#frmDetalles").submit();
                        break;
                    case 8:
                        $("#frmDetalles").attr("action", ligaArrendamientos);
                        $("#frmDetalles").submit();
                        break;
                    case 9:
                        $("#frmDetalles").attr("action", ligaHonorarios);
                        $("#frmDetalles").submit();
                        break;
                    case 10:
                        $("#frmDetalles").attr("action", ligaCancelacionActivos);
                        $("#frmDetalles").submit();
                        break;
                    case 11:
                        $("#frmDetalles").attr("action", ligaHonorariosAsimilables);
                        $("#frmDetalles").submit();
                        break;
                }
            });
        });
        var recargarPresupuesto = function () {
            var elemento = $(this);
            var param = "FolioCR=" + $(this).data("folio") + "&TipoCr=" + $(this).data("tipo") + "&IdRegistro=" + $(this).data("registro");
            var Url = '@Url.Action("GetDetalleContrarecibo", "Contrarecibos", new { Area = "Tesoreria" })' + "?" + param;
            $("#_detalles_presupuesto").ajaxLoad({
                url: Url, callback: function () {
                    $("#Id_Cuenta").val(elemento.data("idcuenta"));
                    $("#desc_Id_Cuenta").val(elemento.data("cuenta"));
                    ajaxJson("GetDetalleContrareciboJson", { FolioCR: elemento.data("folio"), TipoCr: elemento.data("tipo"), IdRegistro: elemento.data("registro") }, "POST", true, function (response) {
                        if (response.Exito == true) {
                            $("#TipoContrarecibo").val(response.Registro.TipoContrarecibo);
                            $("#Id_FolioCR").val(response.Registro.Id_FolioCR);
                            $("#Id_Registro").val(response.Registro.Id_Registro);
                            $("#TipoMovimiento").val(response.Registro.TipoMovimiento);
                            $("#Importe").val(response.Registro.Importe);
                            $(".textBox, select, input").attr("disabled", "disabled");
                        }
                    });
                }
            });

        }
</script>
}
