@{
    ViewBag.Title = "TableroControl";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css">
<br><br>
<div class="container container-tabs">
    <h1 class="text-center">Tablero de Control</h1>
    <h5 class="text-center">Gastos</h5>
    <div class="first-tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#home01" aria-controls="home01" role="tab" data-toggle="tab">Gastos por Beneficiarios</a>
                <img data-link="http://google.com.mx" src="@Url.Content("~/Images/pdf_icon.png")" alt="">
            </li>
            <li role="presentation">
                <a href="#profile01" aria-controls="profile01" role="tab" data-toggle="tab">Gastos por Tipo de Beneficiario</a>
                <img data-link="http://google.com.mx" src="@Url.Content("~/Images/pdf_icon.png")" alt="">
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home01">
                <table class="table table01">
                    <thead>
                        <tr>
                            <th class="dark">Beneficiario</th>
                            <th class="dark">Pendientes de pago</th>
                            <th class="dark">Pagados</th>
                            <th class="dark">Total</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile01">
                <table class="table table02">
                    <thead>
                        <tr>
                            <th class="dark">Tipo</th>
                            <th class="dark">Pendientes de pago</th>
                            <th class="dark">Pagados</th>
                            <th class="dark">Total</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
    <h5 class="text-center">Disponibilidad Presupuestal</h5>
    <div class="first-tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#home" aria-controls="home" role="tab" data-toggle="tab">Grafica</a>
                <img data-link="http://google.com.mx" src="@Url.Content("~/Images/pdf_icon.png")" alt="">
            </li>
            <li role="presentation">
                <a href="#profile" aria-controls="profile" role="tab" data-toggle="tab">Total</a>
                <img data-link="http://google.com.mx" src="@Url.Content("~/Images/pdf_icon.png")" alt="">
            </li>
            <li role="presentation">
                <a href="#messages" aria-controls="messages" role="tab" data-toggle="tab">Ingresos y Descuentos</a>
                <img data-link="http://google.com.mx" src="@Url.Content("~/Images/pdf_icon.png")" alt="">
            </li>
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home">
                <div id="tab1container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile">
                <table class="table table2">
                    <thead>
                        <tr>
                            <th class="dark">MES</th>
                            <th class="dark">EJERCIDO</th>
                            <th class="dark">DISPONIBLE</th>
                            <th class="dark">TOTAL</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
            <div role="tabpanel" class="tab-pane" id="messages">
                <table class="table table3">
                    <thead>
                        <tr>
                            <th class="dark">INGRESOS</th>
                            <th class="dark">DESCUENTOS AUTORIZADOS</th>
                            <th class="dark">DESCUENTOS AUTORIZADOS</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="second-tabs">
        <ul class="nav nav-tabs" role="tablist">
            <li role="presentation" class="active">
                <a href="#home-2" aria-controls="home" role="tab" data-toggle="tab">Estado de Actividades</a>
                <img data-link="http://google.com.mx" src="@Url.Content("~/Images/pdf_icon.png")" alt="">
            </li>
            <li role="presentation">
                <a href="#profile-2" aria-controls="profile-2" role="tab" data-toggle="tab">Estado de Situación <br />Financiera</a>
                <img data-link="http://google.com.mx" src="@Url.Content("~/Images/pdf_icon.png")" alt="">
            </li>
            @*<li role="presentation">
                    <a href="#messages-2" aria-controls="messages-2" role="tab" data-toggle="tab">Estado de Flujo de Efectivo</a>
                    <img data-link="http://google.com.mx" src="@Url.Content("~/Images/pdf_icon.png")" alt="">
                </li>
                <li role="presentation">
                    <a href="#settings-2" aria-controls="settings-2" role="tab" data-toggle="tab">Informes Financieros</a>
                    <img data-link="http://google.com.mx" src="@Url.Content("~/Images/pdf_icon.png")" alt="">
                </li>*@
            @*<li role="presentation">
                    <a href="#config-2" aria-controls="config-2" role="tab" data-toggle="tab">Estados de Actividades</a>
                    <img data-link="http://google.com.mx" src="@Url.Content("~/Images/pdf_icon.png")" alt="">
                </li>*@
        </ul>
        <div class="tab-content">
            <div role="tabpanel" class="tab-pane active" id="home-2">
                <table class="table table4">
                    <thead>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button class="btn btn-default btn-block shRow">
                            VER COMPLETO
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="profile-2">
                <div class="row">
                    <div class="col-sm-6">
                        <table class="table table5">
                            <thead>
                                <tr>
                                    <th colspan="2">ACTIVO</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                    <div class="col-sm-6">
                        <table class="table table5a">
                            <thead>
                                <tr>
                                    <th colspan="2">PASIVO</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                        <table class="table table5b">
                            <thead>
                                <tr>
                                    <th colspan="2">HACIENDA PUBLICA/PATRIMONIO</th>
                                </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button class="btn btn-default btn-block shRow">
                            VER COMPLETO
                            <i class="class=" oculto hidden"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="messages-2">
                <table class="table table6">
                    <thead>
                        <tr>
                            <th></th>
                            <th>20XN</th>
                            <th>20XN-1</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
                <div class="row">
                    <div class="col-sm-4 col-sm-offset-4">
                        <button class="btn btn-default btn-block shRow">
                            VER COMPLETO
                            <i class="glyphicon glyphicon-search"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div role="tabpanel" class="tab-pane" id="settings-2">
                <ul class="nav nav-tabs thirdTabs">
                    <li class="active"><a data-toggle="tab" href="#home3">Resultado Mensual</a></li>
                    <li><a data-toggle="tab" href="#menu3">Resultado Anual</a></li>
                </ul>
                <div class="tab-content">
                    <div role="tabpanel" class="tab-pane active" id="home3">
                        <table class="table table7a">
                            <tbody></tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4">
                                <button class="btn btn-default btn-block shRow">
                                    VER COMPLETO
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                    <div role="tabpanel" class="tab-pane active" id="menu3">
                        <table class="table table7b">
                            <tbody></tbody>
                        </table>
                        <div class="row">
                            <div class="col-sm-4 col-sm-offset-4">
                                <button class="btn btn-default btn-block shRow">
                                    VER COMPLETO
                                    <i class="fa fa-search"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>



<script type="text/javascript">
    var urlJsonGrafica = "@Url.Action("GraficaDisponibilidad", "Account")";
    var urlIngresosDesctos = "@Url.Action("IngresosDescuentos", "Account")";
    var urlEstadoActividades = "@Url.Action("EstadoActividades", "Account")";
    var urlEstadoSituacionFinanciera = "@Url.Action("EstadoSituacionFinanciera", "Account")";
    var urlTop10Ben = "@Url.Action("Top10Beneficiarios", "Account")";
    var urlTop10TipoBen = "@Url.Action("Top10TipoBeneficiarios", "Account")";
</script>
